@import url( 'https://fonts.googleapis.com/css2?family=Carme&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carme', sans-serif;
}

body {
    overflow-x: hidden;
    background: #F1ECE9;
}

/* ///// MENU HAMBURGUESA */
#menu {
    z-index: 9999999999;
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    display: none;
}
.bar {
    height: 5px;
    width: 100%;
    background-color: #161415;
    display: block;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#bar1 {
    transform: translateY(-4px);
}
#bar3 {
    transform: translateY(4px);
}
.change .bar {
    background-color: white;
}
.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
    transform: translateY(-6px) rotate(45deg);
}
.change #bar2 {
    opacity: 0;
}
.nav li a {
    color: white;
    text-decoration: none;
}
.nav li a:hover {
    font-weight: bold;
}
.nav li {
    list-style: none;
    padding: 16px 0;
}
.nav {
    padding: 0;
    margin: 0 20px;
    display: none;
    transition: all 0.3s ease;
}
.change {
    display: block;
}
.menu-bg {
    z-index: 1;
    height: 0;
    width: 0;
    background: #161415;
    transition: all 0.3s ease;
    margin: 30px 0 20px 20px;
    border-radius: 50%;
}
.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);
}
#menu-bar,
.menu-bg {
    top: 0;
    left: 0;
    position: absolute;
}
#menu-bar {
    z-index: 2;
}
/* ///// MENU HAMBURGUESA */

/* ///// SECCION1 Y ANIMACIONES */
.parallax {
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
/*direccion en la que aparencen las animaciones*/
.animado {
    opacity: 0;
}
@keyframes mover {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}
.elipse {
    position: relative;
    width: 300px;
    top: -23%;
    left: -4%;
}
.elipse img {
    width: 300px;
    height: 500px;
    z-index: 1;
}
#section1 {
    background-image: url("./imagenes/Enmascarar\ grupo\ 2.png");
}
#section1 header {
    padding-left: 10px;
    padding-right: 120px;
    position: fixed;
}
#section1 header .ul2 {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin-left: 100px;
    padding: 50px;
    z-index: 999999;
}
#section1 header .ul2 li {
    transform: scale(.8);
    transition: all 0.3s;
    padding-left: 50px;
    padding-right: 50px;
}
#section1 header .ul2 li:hover {
    transform: scale(1.1);
    color: black;
}
#section1 header .ul2 li a {
    text-decoration: none;
    padding-bottom: 1px;
    font-size: 21px;
    border-width: 15px;
    white-space: nowrap;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
    color: white;
}
#section1 header .ul2 li a:hover {
    border-bottom: 1px solid white;
    transform: scale(1.5);
    border-left-width: 1px;
    color: black;

}
#section1 header .ul2 h2 {
    font-size: 40px;
    white-space: nowrap;
    margin-top: 10px;
    color: white;
}
#section1 .subConatiner {
    position: fixed;
    top: 37%;
    left: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#section1 .subConatiner .title {
    -webkit-text-stroke: 2px #ffffff;
    -webkit-text-fill-color: rgba(141, 17, 17, 0);
    transform: translate(-4%, 10%);
    font-size: 150px;
}
#section1 .subConatiner .subTitle {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 40%;
    transform: translate(-10%, 10%);
    box-shadow: 0 0 2px #000;
    background-color: transparent;
}
#section1 .subConatiner .fillter {
    -webkit-backdrop-filter: blur(.5px);
    backdrop-filter: blur(.5px);
}
#section1 .subConatiner .subTitle span {
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}
/* //////// SECCION 1 */

/* ///// SECCION 2 */
#section2 {
    background-image: url("./imagenes/Enmascarar\ grupo\ 1.png");
}
/* ///// SECCION 2 */

/* ///// SECCION 3 */
#section3 {
    position: absolute;
    background: #161415;
}
#section3 {
    position: relative;
    top: -30%;
    overflow-y: hidden;
    height: 100vh;
}
.scroll1.active {
    background: #161415;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
    user-select: none;
}
#section3 .scroll1 {
    margin-top: 180px;
    transform: translateX(0px);
    position: relative;
    top: -36%;
    transition: all 0.3s ease;
    display: grid;
    overflow-x: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
#section3 .scroll1::-webkit-scrollbar {
    opacity: 0;
}
#section3 .title3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}
#section3 .title3 h2 {
    position: relative;
    font-size: 100px;
    -webkit-text-stroke: 2px #ffffff;
    -webkit-text-fill-color: rgba(141, 17, 17, 0);
    margin-left: 50px;
}
#section3 .image3 {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    transform: translate(0);
    margin-right: 53px;
    height: 400px;
    opacity: 0;
}
#section3 .image3 .subTitle {
    display: flex;
    justify-content: center;
    /* float: left; */
    display: none;
    align-items: flex-start;
    margin-left: 15px;
    position: absolute;
    top: 89%;
    z-index: 9999;
    flex-direction: column;
}
#section3 .image3 .subTitle span {
    font-size: 22px;
    position: relative;
    white-space: nowrap;
    font-weight: bold;
    color: #ee8530;
}
#section3 .image3 p {
    color: #dd8b48;
    border-bottom: 1px solid #ee8530;
    font-size: 11px;
    font-weight: bold;
}
#section3 .image3 img {
    width: 350px;
    height: 200px;
    cursor: pointer;
    padding-left: 15px;
    z-index: 9999999;
    transition: all 0.7s;
}
#section3 .image3 img:hover~.subTitle {
    display: flex;
}
#section3 .image3 img:hover {
    transform: scale(1.4);
    display: flex;
}
#section3 .elipse3 {
    position: relative;
    top: -5%;
    left: -44%;
}
#section3 .elipse3 img {
    width: 100px;
}
.elipse2 {
    position: relative;
    width: 300px;
    top: -40%;
    margin-bottom: -20;
    left: 85%;
}
.elipse2 img {
    width: 260px;
}
#section3 .elipse3 .circulo {
    position: relative;
    left: -2%;
    z-index: 5;
}
#section3 .elipse3 .ovalo {
    z-index: 100000000;
}
/* ///// SECCION 3 */

/* ///// SECCION 4 */
#section4 {
    position: absolute;
    background-image: url("./imagenes/Trazado\ 2.svg");
    background-size: cover;
    transform: translateY(-15%);
    margin: auto;
    width: 100%;
    height: 100vh;
}
#section4 .container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 50%;
}
#section4 .container .tegnologias {
    position: relative;
    top: -28%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section4 .container .tegnologias .logoTech {
    height: 50px;
    padding-right: 20px;
}
#section4 .container .tegnologias .techInfo {
    display: flex;
    padding-bottom: 37px;
    justify-content: center;
    margin-left: -260px;
    align-items: center;
}
#section4 .container .tegnologias .techInfo p {
    width: 40%;
    letter-spacing: 1px;
    color: #161415;
    text-align: left;
    font-size: 14px;
}
#section4 .container .tegnologias .techInfo p span {
    color: #88b1c6;
    font-size: 25px;
    letter-spacing: 2px;
}
#section4 .container .imagen1 {
    position: relative;
    top: -40%;
    left: 47%;
}
#section4 .container .imagen1 img {
    width: 280px;
    height: 400px;
}
#section4 .container .imagen1 .footerTitleC h1 {
    transition: all 0.5s;
    font-size: 140px;
    -webkit-text-stroke: 2px #000;
    letter-spacing: 17px;
    opacity: 0;
    -webkit-text-fill-color: rgba(141, 17, 17, 0);
    position: absolute;
    left: 17%;
    bottom: 84%;
}
/* ///// SECCION 4 */

/* ///// FOOTER */
footer {
    background-color: #88b1c6;
    width: 100vw;
    margin-top: 605px;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    height: 79px;
}
.footerC {
    height: 150px;
}
.footerC span {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: 21%;
    left: 55px;
}
footer .redes {
    position: relative;
    top: 25%;
    right: 55px;
    padding: 10px;
}
footer .redes img {
    margin-left: 25px;
    width: 26px;
}
/* ///// FOOTER */

/* ///// RESPONSIVE */
@media screen and (max-width: 1250px) {
    #section1 header .ul2 {
        display: none;
    }
    #menu {
        display: block;
    }
    #section1 .subConatiner .title {
        font-size: 120px;
        transform: translate(-4%, 10%);
    }
    #section1 .subConatiner .subTitle span {
        font-size: 11px;
    }
    .elipse {
        top: -25%;
        left: 7%;
        float: right;
    }
    #section4 .container .imagen1 {
        transform: translate(185%, -5%);
    }
    #section4 .container .imagen1 h1 {
        transform: translate(-32%, 3%);
    }
    #section4 .container .imagen1 img {
        width: 250px;
        height: 200px;
        margin-bottom: 90px;
    }
    #section4 .container .tegnologias {
        transform: translate(20%, 70%);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    #section4 .container .tegnologias .techInfo {
        display: grid;
        grid-template: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #section1 .elipse img {
        width: 200px;
    }
}
@media screen and (max-width: 900px) {
    #section1 .subConatiner .title {
        font-size: 90px;
        transform: translate(-4%, 10%);
    }
    #section3 .image3 img {
        width: 320px;
        height: 200px;
    }
    #section4 .container .imagen1 {
        transform: translate(128%, -5%);
    }
    #section4 .container .imagen1 h1 {
        transform: translate(-30%, 3%);
        font-size: 90px;
    }
    #section4 .container .imagen1 img {
        width: 250px;
        height: 200px;
    }
    .elipse {
        top: -26%;
        left: -15%;
        display: none;
    }
    .elipse2 {
        width: 280px;
        top: -30%;
        margin-bottom: -20;
        left: 82%;
    }
}
@media screen and (max-width: 700px) {
    #section1 .subConatiner .title {
        font-size: 70px;
        transform: translate(-4%, 10%);
    }
    #section3 .image3 img {
        width: 300px;
        height: 180px;
    }
    #section3 .title3 h2 {
        font-size: 80px;
    }
    #section4 .container .imagen1 {
        transform: translate(91%, -5%);
    }
    #section4 .container .tegnologias .techInfo p {
        font-size: 12px;
    }
    #section4 .container .tegnologias .techInfo span {
        font-size: 15px;
    }
    #section4 .container .imagen1 .footerTitleC h1 {
        transform: translate(-30%, -50%);
        font-size: 100px;
    }
    #section4 .container .tegnologias {
        transform: translate(23%, 70%);
        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
}
@media screen and (max-width: 540px) {
    #section1 .subConatiner .title {
        font-size: 50px;
        transform: translate(-20%, 90%);
    }
    #section4 .container .imagen1 .footerTitleC h1 {
        transform: translate(25%, -300%);
        font-size: 70px;
    }
    #section1 .subConatiner .subTitle {
        font-size: 11px;
        transform: translate(-40%, 90%);
    }
    #section4 .container .tegnologias {
        transform: translate(80%, -5%);
        grid-template-columns: repeat(1, 1fr);
    }
    #section4 .container .imagen1 img {
        display: none;
    }
    footer {
        height: 127px;
    }
    .footerC span {
        font-size: 25px;
        top: 21%;
        left: 105px;
    }
    footer .redes {
        top: 70%;
        white-space: nowrap;
        right: 35%;
    }
}
@media screen and (max-width: 350px) {
    #section1 .subConatiner .title {
        font-size: 50px;
        transform: translate(-10%, -10%);
    }
    #section1 .subConatiner .subTitle {
        font-size: 11px;
        transform: translate(-20%, -50%);
    }
    #section1 .subConatiner .subTitle span {
        font-size: 10px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    footer {
        height: 260px;
    }
    #section4 .container .imagen1 .footerTitleC h1 {
        transform: translate(5%, -370%);
        font-size: 67px;
    }
    .footerC span {
        white-space: nowrap;
        left: 30px;
        top: 47%;
    }
    footer .redes {
        top: 70%;
        white-space: nowrap;
        right: 60%;
    }
    #section4 .container .tegnologias {
        transform: translate(100%, -10%);
    }
}
/* ///// RESPONSIVE */
