* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: white;
}

.parallax {
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.elipse {
    position: relative;
    width: 300px;
    top: -23%;
    left: -4%;
}

.elipse img {
    width: 300px;
    height: 500px;
    z-index: 1;
}

#section1 {
    background-image: url("./imagenes/Enmascarar\ grupo\ 2.png");
}

#section1 header {
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
}

#section1 header ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin-left: 100px;
    padding: 50px;
    z-index: 999999;
}

#section1 header ul li {
    transform: scale(.8);
    transition: all 0.3s;
    padding-left: 50px;
    padding-right: 50px;
}

#section1 header ul li:hover {
    transform: scale(1.1);
    color: black;
}

#section1 header ul li a {
    text-decoration: none;
    padding-bottom: 1px;
    font-size: 23px;
    border-width: 15px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
    color: white;
}

#section1 header ul li a:hover {
    border-bottom: 1px solid white;
    transform: scale(1.5);
    border-left-width: 1px;
    color: black;

}

#section1 header ul h2 {
    font-size: 50px;
    color: white;
}

#section1 .subConatiner {
    position: fixed;
    top: 37%;
    left: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: translateY(50%); */
    /* transform: translateX(50%); */
}

#section1 .subConatiner .title {
    -webkit-text-stroke: 2px #ffffff;
    -webkit-text-fill-color: rgba(141, 17, 17, 0);
    font-size: 150px;
}

#section1 .subConatiner .subTitle {
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 40%;
    box-shadow: 0 0 2px #000;
    background-color: transparent;
}

#section1 .subConatiner .fillter {
    -webkit-backdrop-filter: blur(.5px);
    backdrop-filter: blur(.5px);
}

#section1 .subConatiner .subTitle span {
    color: white;
    padding: 10px;
    font-size: 17.2px;
}

#section2 {
    background-image: url("./imagenes/Enmascarar\ grupo\ 1.png");
}

#section3 {
    position: absolute;
    background: black;

    overflow-x: scroll;
}

#section3 {
    position: relative;
    top: -30%;
    overflow-y: hidden;
}

.carousel {
    min-height: 500px;
    width: 900px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* width: 800px;
    height: 800px; */
}

.carousel .carousel-item img {
    width: 150%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

#section3 .scroll1 {
    margin-top: 180px;
    transform: translateX(0px);
    position: relative;
    top: -16%;
    transition: all 0.3s ease;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

#section3::-webkit-scrollbar {
    display: none;
}

#section3 .title3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}

#section3 .title3 h2 {
    color: #fff;
    position: relative;
    font-size: 100px;
    -webkit-text-stroke: 2px #ffffff;
    -webkit-text-fill-color: rgba(141, 17, 17, 0);
    margin-left: 50px;
    /* top: -30%; */
}

#section3 .image3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 53px;
}

#section3 .image3 img {
    width: 350px;
    height: 200px;
    padding-left: 15px;
    z-index: 9999999;
    transition: all 0.3s;
}

#section3 .image3 img:hover {
    transform: scale(1.4);
}

#section3 .arrowContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
    z-index: 9999999;
    position: absolute;
    left: 90%;
    margin-top: -55px;
}

#section3 .arrowContainer .divLeft {
    margin-right: 30px;
    z-index: 9999999;
}

#section3 .arrowContainer .divLeft .left {
    transform: rotate(-180deg) scale(1);
    transition: all 0.3s ease;
    z-index: 9999999;
    width: 20px;
}

#section3 .arrowContainer .divLeft .left:hover {
    transform: rotate(-180deg) scale(1.2);
}

#section3 .arrowContainer .divRigth .rigth {
    transform: rotate(-180deg) scale(1);
    transition: all 0.3s ease;
    z-index: 9999999;

    width: 20px;
}

#section3 .arrowContainer .divRigth .rigth:hover {
    transform: rotate(-180deg) scale(1.2);
}

#section3 .elipse3 {
    position: relative;
    top: -5%;
    left: -44%;
}

#section3 .elipse3 img {
    width: 90px;
}

.elipse2 {
    position: relative;
    width: 300px;
    top: -12%;
    margin-bottom: -20;
    left: 85%;
}

.elipse2 img {
    width: 260px;
    /* height: 500px; */
}

#section3 .elipse3 .circulo {
    position: relative;
    left: -2%;
    z-index: 10;
}

#section3 .elipse3 .ovalo {
    z-index: 5;
}

#section4 {
    position: relative;
    /* margin-top: 580px; */
    background-image: url("./imagenes/Trazado\ 2.svg");
    background-size: cover;

    transform: translateY(-13.4%);

    width: 100vw;
    height: 100vh;
}

#section4 .container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* margin-top: 1000px; */
    top: 50%;
}

#section4 .container .imagen1 img {
    width: 100px;
}